@model IEnumerable<User> 

<div class="text-center">  
    <div class = "display-4 text-white">
        <h1 class="lng-WelcomeText"></h1>  
    </div>
</div>
<br/>                         
<h4 class = "lng-SelectRegion text-white">Select language and region:</h4>
<select class="form-select text-black-50" id="changeLanguage" aria-label="Default select example">
    <option value="en" selected>USA/English</option>
    <option value="ru">РФ/Русский</option>
    <option value="uk">Україна/Український</option>
</select>    
<br/>
 
<form method="post">
    <div class="input-group mb-3">
        <input type="number" id = "seed" value=@Model.ElementAt(0).Seed class="form-control" placeholder="Place 0 to random seed" aria-label="Seed" aria-describedby="basic-addon2" name="seed">
        <button class="input-group-text btn-primary" id="basic-addon2" type="submit" asp-controller="Home" asp-action="Index" onclick="changeURLLanguage()">Set seed</button>
    </div>    
</form>

<br/>
<h5><i>Seed: @Model.ElementAt(0).Seed</i></h5>
<table class="table table-hover table-responsive">
    <thead>
    <tr>
    </tr>
    <tr>
        <th class = "lng-Number">Number</th>
        <th class="col-md-3 col-xs-3">Id</th>
        <th class="col-md-3 col-xs-3 lng-FIO">Last name and First name</th>
        <th class="col-md-3 col-xs-3 lng-Adress">Adress</th>
        <th class="col-md-3 col-xs-3 lng-PhoneNumber">Phone Number</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <th scope="row">@user.Number</th>
                <td>@user.Id</td>
                <td>@user.FirstName @user.LastName</td>
                <td>@user.Adress</td>
                <td>@user.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>

<script src="js/lang.js"></script>